<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GridBoard</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  ul.sortable { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      width: 222px;
      height: 1000px;
      text-align: center;
  }
  li.draggable { 
      margin: 5px;
      width: 200px;
      padding: 3px; 
      text-align: center;
  }
  th {
      width: 200px;
  }
  li a {
      color: black;
      text-decoration: none;
      font-size: 17px;
  
  }                 
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

/*
     function refresh() {
         window.location.reload(true);
         setTimeout(refresh, 1000);
     }

     setTimeout(refresh, 1000);
 */

  </script>
</head>
<body>
 
<table border=1  height=100% >

    <tr>
{% for project in projects %}
    {% for square in project %}
    <td style="color:{{ square.text_color }};background-color:{{ square.back_color }}; height:200px; width: 200px; text-align: center" >
        <a href="#" ><div style="height:200px; width: 200px;"> <img src="{{ square.image }}" height=200px width=200px></div></a>
    </td>
    {% endfor %}
    <tr>
    </tr>
{% endfor %}
    </tr>


</table>
</body>
</html>
